.main {
    width: 100vw;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 1rem;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1rem;
    border: 0.2rem solid rgb(229 231 235);
    padding: 0.5rem 0;
}

.stat {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.text {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 5rem;
}

.buttons {
    position: fixed;
    bottom: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
    width: 50vw;
}

.buttonYes,
.buttonNo,
.buttonNext {
    padding: 1rem;
    border-style: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.5rem;
    opacity: 1;
    animation: reveal 1s;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonYes {
    background-color: #fce47a;
}

.buttonNo {
    background-color: #768efc;
}

.buttonNext {
    background-color: #22d3ee;
    width: 50vw;
}

.buttonYes:hover {
    background-color: #cfbc64;
}

.buttonNo:hover {
    background-color: #667bda;
}

.buttonNext:hover {
    background-color: #1bb0c7;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .stat,
    .text {
        font-size: 1.25rem;
        margin: 1rem;
    }

    .choices,
    .buttonNext {
        width: 90vw;
    }

    .buttonYes,
    .buttonNo,
    .buttonNext {
        font-size: 1.25rem;
    }
}
