.main {
    width: 100vw;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 1rem;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.text {
    font-size: 20px;
    text-align: center;
    animation: expand 1s;
}

@keyframes expand {
    from {
        font-size: 0px;
    }
    to {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
